.image-popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -38px;
  cursor: pointer;
  z-index: 2;
  outline: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/close-icon.svg);
}

@media screen and (max-width: 475px) {
  .image-popup__close {
    top: -31px;
    right: -30px;
    width: 26px;
    height: 26px;
  }
}

