.footer {
  width: calc(100% - 400px);
  display: flex;
  margin: 7px auto 0;
  min-height: 140px;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 200px);
    min-height: 86px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    width: calc(100% - 38px);
  }
}

